/* RGB */
$primaryColor: rgba(10, 36, 99, 1);
$secondaryColor: rgba(36, 123, 160, 1);
$defaultColor: rgba(226, 226, 226, 1);
$accentColor: rgba(96, 95, 94, 1);
$dangerColor: rgba(251, 54, 64, 1);

$baseFontColor: #333;
$mutedFontColor: #666;
$lightFontColor: #FFF;

$contentBorderColor: #CCC;