@import '../../../styles/_variables/colors';
@import '../../../styles/_variables/layout';

.Button {
    font-family: inherit;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25;
    color: $primaryColor;
    background: $defaultColor;
    border: 1px solid $primaryColor;
    border-radius: $fieldRadius;
    padding: 16px 20px;
    width: auto;
    flex: 1 1 auto;
    cursor: pointer;
    
    &:hover,
    &:active {
        background: darken($defaultColor, 5%)
    }

    &:not(:first-child) {
        margin-right: $xBase / 3;
    }

    &.Primary {
        color: $lightFontColor;
        background: $primaryColor;

        &:hover,
        &:active {
            background: darken($primaryColor, 5%)
        }
    }
}