@import 'styles/_variables/colors';
@import 'styles/_variables/layout';

.Container {
    background: $accentColor;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.Card {
    background: $defaultColor;
    width: 535px;
    max-width: 100%;
    border: 1px solid darken($accentColor, 10%);
    border-radius: 2px;
    box-shadow: 0 0 $xBase rgba(0, 0, 0, .25);
    padding: $yBase $xBase;
    margin: auto;
}